<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-200 text-gray-800">
        <div class="min-h-screen flex">
        <div class="flex flex-col w-[350px] space-y-8">
            <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 underline">
                Sign In
            </h2>
            </div>

            {% if not SOCIALACCOUNT_ONLY %}
            <p class="font-semibold text-sm text-gray-600">
            If you have not created an account yet, then please
            <a href="{{ signup_url }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                sign up
            </a>
            first.
            </p>

            <form class="flex flex-col" method="post">
            {% csrf_token %}
            <div class="flex items-center">
                <div class="w-[150px]">
                    <label for="{{form.login.label_for_id}}" class="text-gray-800 font-semibold">{{form.login.label}}:</label>
                </div>
                <input
                    id="id_login"
                    name="login"
                    type="text"
                    required
                    class="appearance-none relative block w-[200px] px-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                    />
            </div>

            <div class="flex items-center">
                <div class="w-[150px]">
                    <label for="{{form.password.label_for_id}}" class="text-gray-800 font-semibold">{{form.password.label}}:</label>
                </div>
                <input
                    id="id_password"
                    name="password"
                    type="password"
                    required
                    class="appearance-none relative block w-[200px] px-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                    />
            </div>

            <div class="text-sm text-gray-600 mt-2">
                <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                Forgot your password?
                </a>
            </div>

            <div class="flex mt-2 w-[350px] justify-center">
                <button
                type="submit"
                class="py-1 px-4 border border-transparent text-sm font-medium text-white bg-indigo-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                Login
                </button>
            </div>
            </form>
            {% endif %}

            {% if SOCIALACCOUNT_ENABLED %}
            <div class="mt-3 w-[350px]">
            <h2 class="text-center text-xl font-semibold text-gray-900">Or use a third party</h2>
            <ul class="flex justify-center space-x-4">
                <li>
                <a
                    title="Google"
                    href="/accounts/google/login/?process=login"
                    class="inline-flex items-center px-4 py-1 border border-gray-300 shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50"
                >
                    Google
                </a>
                </li>
                </ul>
            </div>
            {% endif %}
        </div>
        </div>
    </body>
</html>